Source: aptosid-scripts
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Kel Modderman <kelvmod@gmail.com>
Rules-Requires-Root: no
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
 libconfig-tiny-perl
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/fullstory/aptosid-scripts
Vcs-Git: https://github.com/fullstory/aptosid-scripts.git

Package: aptosid-scripts
Architecture: all
Depends: ${misc:Depends},
 pastebinit,
 xorriso
Recommends: menu
Description: miscellaneous scripts for aptosid
 Script collection for live and install uses on aptosid:
  * burniso (write an ISO image from cli)
  * fw-detect (identify missing firmware for installed hardware)
  * update-resume-partition (configure a resume (swap) partition based on UUIDs)
