Source: sidux-scripts
Section: misc
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Kel Modderman <kel@otaku42.de>
Build-Depends: cdbs, debhelper (>= 6)
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-scripts/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-scripts/trunk/

Package: sidux-scripts
Architecture: all
Depends: perl, distro-defaults
Conflicts: configure-networkcard (< 0.7.22)
Recommends: menu, ntpdate
Description: miscellaneous scripts for sidux
 Script collection for live and install uses on sidux.
